<form action="/api/sessions/login" method="post">
    Username: <input type="text" name="username" id="username">
    Password: <input type="text" name="password" id="password">
    <input type="submit" value="Login">
    <p>¿No estás registrado? <a href="/signup">Regístrate aquí</a></p>
</form>

<button onclick="location.href='/api/sessions/githubSignup'">Ingresar con GITHUB</button>