<form action="/api/sessions/signup" method="post">
    Username: <input type="text" name="username" id="username">
    Email: <input type="text" name="email" id="email">
    Password: <input type="text" name="password" id="password">
    First Name: <input type="text" name="first_name" id="first_name">
    Last Name: <input type="text" name="last_name" id="last_name">
    Age: <input type="number" name="age" id="age">
    <input type="submit" value="SIGN UP">
</form>

<button onclick="location.href='/api/jwt/githubSignup'">Ingresar con GITHUB</button>